---
version: "3.7"
services:
  frontend:
    image: node:10.19.0
    volumes:
      - ./localdir:/app/frontend
    expose:                             #Activates container to listen for a specific port only from the world inside of docker AND not accessible world outside of the docker. More than one port can be specified
      - "8080"     
    ports:                              #Activates the container to listen for specified port(s) from the world outside of the docker(can be same host machine or a different machine) AND also accessible world inside docker. More than one port can be specified (that's is why ports not port)
      - "80:8080"       
    depends_on:
      - database
    container_name: app_frontend

  backend:
    image: python:3.7
    volumes:
      - ./localdir:/app/backend
    ports:
      - "6000:6000"   
    depends_on:
      - frontend
    container_name: app_backend

  database:
    image: mysql:5.6.47
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"  
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      MYSQL_DATABASE: dcg
      MYSQL_USER: dev
      MYSQL_PASSWORD: changeme
    container_name: app_db 
volumes:
  db-data: {}    


